body {
    font-family: 'Big Shoulders Display', 'cursive', 'Outfit', sans-serif;
    width: 100%;
    background-color: #FCFAF9;
}

.body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 120px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modern {
    width: 343px;
    height: 390px;
    /* margin-left: 16px; */
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 32px;
}

.header-h1 {
    height: 110px;
    left: 4.27%;
    right: 4.27%;
    top: calc(50% - 110px/2 + 12px);
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: #151515;
}

.header-p {
    height: 112px;
    left: 4.27%;
    right: 4.27%;
    top: calc(50% - 112px/2 + 155px);
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.header-h2 {
    background: #151515;
    display: flex;
    width: 260px;
    height: 72px;
}

.location {
    display: flex;
    align-items: center;
    margin: auto;
}

h2 {
    height: 24px;
    left: 15.69%;
    right: 17.16%;
    top: calc(50% - 24px/2);
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
}

.empty {
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    width: 343px;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #151515;
    margin: 25px 0 23px;
}

.main-p {
    width: 343px;
    height: 112px;
    left: 0%;
    right: 0%;
    top: calc(50% - 112px/2 + 55.5px);
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

section {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}

.main-footer {
    width: 343px;
    height: 293px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container {
    width: 295px;
    height: 198px;
}

h4 {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.container-p {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

footer {
    width: 375px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

.footer-container {
    width: 311px;
    height: 240px;
}

.footer-p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 38px 0;
}

.icons {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

/* location */

.next-page {
    width: 100%;
    height: 100vh;
    font-family: 'Big Shoulders Display', 'cursive', 'Outfit', sans-serif;
    background-image: url('./mobile/image-map.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one {
    width: 264px;
    display: flex;
    /* align-self: flex-start; */
    margin: 0;
    margin-left: -110.7px;
}

.flex-div {
    display: flex;
    flex-direction: row-reverse;
}

.blackDV {
    width: 208px;
    height: 72px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
}

.return-button {
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two {
    width: 375px;
    height: 493px;
    display: flex;
    flex-direction: column;
    background-color: #151515;

    margin: 0;
    margin-top: 478px;
}

.our-location {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 48px;
    margin-left: 16px;
    margin-bottom: 48px;
}

.second-txtcontainer {
    height: 296px;
}

.king99 {
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #D5966C;
    margin-left: 16px;
    margin-bottom: 20px;
}

.newport {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 16px;
    padding-bottom: 20px;
    width: 343px;
}

.newly {
    font-family: 'Outfit', sans-serif;
    left: 0%;
    right: 0%;
    top: calc(50% - 140px/2 + 78px);
    width: 343px;
    height: 140px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 16px;

}

.section-three {
    width: 375px;
    height: 336px;
    background-color: #D5966C;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 48px;
}

.last-container {
    width: 311px;
    /* height: 240px; */
}

.last-p {
    align-self: center;
    width: 311px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
    margin-top: 38px;
}

.black-icons {
    width: 100px;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}