@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #FCFAF9;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.hero {
    width: 100%;
}

header {
    width: 100%;
    padding: 0 16px;
    margin-top: 32px;
}

.header-h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    color: #151515;
}

.header-p {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin: 32px 0;
}

a {
    display: flex;
    text-decoration: none;
}

.black {
    display: none;
}

.blackkk {
    width: 204px;
    height: 72px;
    background-color: #151515;
    font-family: 'Big Shoulders Display';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.golden {
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    padding: 0 16px;
    margin-top: 120px;
}

.mainheaderimg {
    width: 100%;
}

.mainh3 {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: #151515;
    text-transform: uppercase;
    margin: 25px 0 21px;
}

.main-p {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.PagefirtSection {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}

.mobilegrid2 {
    width: 100%;
}

.nab {
    width: 100%;
}

.mobilegrid3 {
    width: 100%;
    margin-bottom: 16px;
}

.main-footer {
    width: 100%;
    background-color: #151515;
    padding: 48px 24px;
}

h4 {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.container-p {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

/* responsiv images */

.grid2 {
    display: none;
}

.desktopgrid2 {
    display: none;
}

.desktopgrid3 {
    display: none;
}

.grid3 {
    display: none;
}

.desktoph3 {
    display: none;
}

.tabletgridimg {
    display: none;
}

.desktopgridimg {
    display: none;
}

footer {
    width: 100%;
    background-color: #151515;
    padding: 48px 32px;
    margin-top: 100px;
}

.footer-p {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 38px 0;
}

.icons {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

/* location */

.next-page {
    width: 100%;
    min-height: 100vh;
    font-family: 'Big Shoulders Display', cursive;
}

.section-one {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 0;
}

.flex-div {
    display: flex;
    flex-direction: row-reverse;
}

.blackDV {
    width: 208px;
    height: 72px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
}

.returnbutton {
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    padding: 24px;
}

.section-two {
    width: 100%;
    background-color: #151515;
    padding: 48px 16px 56px;
}

.our-location {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 48px;
}

.our-location-tablet {
    display: none;
}

.king99 {
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #D5966C;
}

.newport {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 20px 0;
}

.newly {
    font-family: 'Outfit', sans-serif;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.section-three {
    width: 100%;
    background-color: #D5966C;
    padding: 48px 32px
}

.last-p {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
    padding: 38px 0;
}

.black-icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.tablethero {
    display: none;
}

.desktophero {
    display: none;
}

.desktopMap {
    display: none;
}

.tabletMap {
    display: none;
}

/* tablet version */

@media screen and (min-width:768px) {

    body {
        width: 100vw;
        background-color: #FFFFFF;
    }

    header {
        display: flex;
        width: 100%;
        padding: unset;
        margin: unset;
    }

    .text-box {
        margin-top: 145px;
        width: 340px;
        margin-left: -45px;
    }

    .header-h1 {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 70px;
        line-height: 65px;
        text-transform: uppercase;
        color: #151515;
    }

    .header-p {
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #444444;
    }

    .black {
        display: none;
    }

    a:hover .blackkk {
        background-color: #D5966C;
        transition:1500ms;
    }

    a:hover .golden {
        background-color: #151515;
        transition:1500ms;
    }

    .hero {
        display: none;
    }

    .tablethero {
        display: block;
    }

    .desktophero {
        display: none;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 40px;
    }

    .mainheader {
        display: flex;
        flex-direction: row-reverse;
    }

    .text-box2 {
        width: 100%;
        padding-right: 68px;
    }

    .mainh3 {
        margin: 0;
        margin: 36px 0 24px;
    }

    .main-p {
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #444444;
    }

    .mainheaderimg {
        display: none;
    }

    .tabletgridimg {
        display: block;
        width: 100%;
    }

    .desktopgridimg {
        display: none;
    }

    .PagefirtSection {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 11px;
        margin: 11px;
    }

    .desktopgrid2 {
        display: none;
    }

    .mobilegrid2 {
        display: none;
    }

    .grid2 {
        display: block;
        width: 100%;
    }

    .desktopgrid3 {
        display: none;
    }

    .mobilegrid3 {
        display: none;
    }

    .grid3 {
        display: block;
    }

    .nab {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    .main-footer {
        padding: 85px 29px;
    }

    h4 {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 56px 40px;
    }

    .footer-p {
        margin: 0;
        width: 50%;
    }

    .modernsvg {
        align-self: baseline;
    }

    /* location */


    .flex-div {
        cursor: pointer;
    }

    .flex-div:hover .blackDV {
        background-color: #D5966C;
        transition:1500ms;

    }

    .flex-div:hover .returnbutton {
        background-color: #151515;
        transition:1500ms;

    }

    .next-page {
        overflow-x: hidden;
    }

    .desktopMap {
        display: none;
    }

    .tabletMap {
        display: block;
    }

    .mobileMap {
        display: none;
    }

    .section-one {
        margin-left: 40px;
    }

    .section-two {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        padding: 88px 40px 80px;
    }

    .our-location {
        display: none;
    }

    .our-location-tablet {
        display: block;
        font-weight: 900;
        font-size: 55px;
        line-height: 50px;
        color: #FFFFFF;
        margin-right: 68px;
    }

    .text-box3 {
        width: 100%;
    }

    .newly {
        width: 100%;
    }

    .section-three {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 56px;
    }

    .darksvg {
        align-self: baseline;
    }

    .last-p {
        width: 40%;
        height: 104px;
        margin-top: unset;
        padding: 0;
    }

    .black-icons {
        margin: unset;
    }
}

/* desktop version */


@media screen and (min-width:1439px) {

    header {
        width: 1275px;
        align-self: flex-start;
    }

    .location {
        cursor: pointer;
    }

    .black {
        display: block;
        width: 990px;
        height: 800px;
        background-color: #151515;
        order: -1;
        background-image: url('./desktop/image-hero.jpg');
        background-repeat: no-repeat;
        background-position-x: 448px;
        margin-left: 12px;
    }

    .desktopmoderndiv {
        width: 100%;
        padding-left: 165px;
        padding-top: 189px;
    }

    .desktopmodern {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 96px;
        line-height: 88px;
        mix-blend-mode: difference;
        color: #FFFFFF;
    }

    .header-h1 {
        display: none;
    }

    .header-p {
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
    }

    .desktophero {
        display: block;
    }

    .tablethero {
        display: none;
    }

    main {
        width: 100%;
        padding: 0 165px;
        margin-top: 179px;
    }

    .tabletgridimg {
        display: none;
    }

    .desktopgridimg {
        display: block;
    }

    .mainheader {
        width: 100%;
        justify-content: space-between;
    }

    .text-box2 {
        padding-right: 125px;
    }

    .mainh3 {
        display: none;
    }

    .desktoph3 {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #151515;
        display: block;
        margin-bottom: 32px;
    }

    .main-p {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #444444;
    }

    .PagefirtSection {
        margin: 0;
        margin-top: 30px;
    }

    .grid2 {
        display: none;
    }

    .desktopgrid2 {
        display: block;
        width: 100%;
    }

    .grid3 {
        display: none;
    }

    .desktopgrid3 {
        display: block;
        width: 100%;
    }

    .main-footer {
        padding: 68px 48px;
    }

    h4 {
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .container-p {
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #FFFFFF;
    }

    footer {
        width: 100%;
        padding: 50px 165px;
    }

    .footer-p {
        width: 30%;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .modernsvg {
        width: 15%;
    }

    .black-icons,.icons{
        cursor: pointer;
    }

    svg:hover path{
        fill: #D5966C;
        transition: 1000ms;
    }

    /* location */

    .next-page {
        width: 100%;
    }

    .tabletMap {
        display: none;
    }

    .desktopMap {
        display: block;
    }

    .section-one {
        align-self: flex-start;
        margin-left: 156px;
    }

    .section-two {
        width: 100%;
        padding: 104px 165px 128px;
    }

    .our-location-tablet {
        margin-right: 320px;
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
    }

    .king99 {
        font-weight: 900;
        font-size: 36px;
        line-height: 36px;
    }

    .newport {
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        padding: 24px 0 32px;
    }

    .newly {
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
    }

    .section-three {
        width: 100%;
        padding: 80px 165px;
    }

    .darksvg {
        align-self: baseline;
        width: 12%;
    }

    .last-p {
        width: 430px;
        height: 84px;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }

   .black-icons svg:hover path{
    fill: #FFFFFF;
    transition: 1000ms;
}
}