body {
    font-family: 'Big Shoulders Display', 'cursive', 'Outfit', sans-serif;
    width: 100%;
    background-color: #FCFAF9;
}

.body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 120px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black {
    display: none;
}

.modern {
    width: 343px;
    height: 390px;
    /* margin-left: 16px; */
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 32px;
}

.header-h1 {
    height: 110px;
    left: 4.27%;
    right: 4.27%;
    top: calc(50% - 110px/2 + 12px);
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: #151515;
}

.header-p {
    height: 112px;
    left: 4.27%;
    right: 4.27%;
    top: calc(50% - 112px/2 + 155px);
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.header-h2 {
    background: #151515;
    display: flex;
    width: 260px;
    height: 72px;
}

.location {
    display: flex;
    align-items: center;
    margin: auto;
}

h2 {
    height: 24px;
    left: 15.69%;
    right: 17.16%;
    top: calc(50% - 24px/2);
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
}

.empty {
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabletgridimg {
    display: none;
}

.desktopgridimg {
    display: none;
}

h3 {
    width: 343px;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #151515;
    margin: 25px 0 23px;
}

.desktoph3 {
    display: none;
}

.main-p {
    width: 343px;
    height: 112px;
    left: 0%;
    right: 0%;
    top: calc(50% - 112px/2 + 55.5px);
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

section {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}


.grid2 {
    display: none;
}

.desktopgrid2 {
    display: none;
}

.desktopgrid3 {
    display: none;
}


.grid3 {
    display: none;
}

.main-footer {
    width: 343px;
    height: 293px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container {
    width: 295px;
    height: 198px;
}

h4 {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.container-p {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

footer {
    width: 375px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

.footer-container {
    width: 311px;
    height: 240px;
}

.footer-p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 38px 0;
}

.icons {
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

/* location */

.next-page {
    width: 100%;
    height: 100vh;
    font-family: 'Big Shoulders Display', 'cursive', 'Outfit', sans-serif;
    background-image: url('./mobile/image-map.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one {
    width: 264px;
    display: flex;
    margin: 0;
    margin-left: -110.7px;
}

.flex-div {
    display: flex;
    flex-direction: row-reverse;
}

.blackDV {
    width: 208px;
    height: 72px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    color: #FFFFFF;
}

.return-button {
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two {
    width: 375px;
    height: 493px;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    padding-bottom: 56px;
    margin: 0;
    margin-top: 478px;
}

.our-location {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 48px;
    margin-left: 16px;
    margin-bottom: 48px;
}

.our-location-tablet {
    display: none;
}

.second-txtcontainer {
    height: 296px;
}

.king99 {
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #D5966C;
    margin-left: 16px;
    margin-bottom: 20px;
}

.newport {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 16px;
    padding-bottom: 20px;
    width: 343px;
}

.newly {
    font-family: 'Outfit', sans-serif;
    left: 0%;
    right: 0%;
    top: calc(50% - 140px/2 + 78px);
    width: 343px;
    height: 140px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 16px;

}

.section-three {
    width: 375px;
    height: 336px;
    background-color: #D5966C;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 48px;
}

.last-container {
    width: 311px;
    /* height: 240px; */
}

.last-p {
    align-self: center;
    width: 311px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
    margin-top: 38px;
}

.black-icons {
    width: 100px;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

.tablethero {
    display: none;
}

.desktophero {
    display: none;
}

/* tablet version */

@media screen and (min-width:768px) {

    body {
        width: 100%;
        background-color: #FFFFFF;
    }

    header {
        flex-direction: row;
        width: 768px;
    }

    .black {
        display: none;
    }

    .modern {
        row-gap: 48px;
        margin: 0;
        margin-left: -48px;
        height: 410px;
    }

    .header-h1 {
        height: 130px;
        left: 0%;
        right: 0%;
        top: calc(50% - 130px/2 - 140px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 65px;
        text-transform: uppercase;
        color: #151515;
    }

    .header-p {
        height: 112px;
        left: 0%;
        right: 0%;
        top: calc(50% - 112px/2 + 29px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #444444;
    }

    .hero {
        display: none;
    }

    .tablethero {
        display: block;
    }

    .desktophero {
        display: none;
    }

    main {
        width: 768px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mainheader {
        display: flex;
        flex-wrap: wrap;
    }

    .mainheadertextcontainer {
        order: -1;
        width: 223px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 68px;
        height: 299px;
        margin-top: 35px;
    }

    .mainheaderimg {
        display: none;
    }

    .tabletgridimg {
        display: block;
    }

    .desktopgridimg {
        display: none;
    }

    h3 {
        margin: 0;
        height: 135px;
        left: 0%;
        right: 0%;
        top: calc(50% - 135px/2 - 82px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
        text-transform: uppercase;
        color: #151515;
    }

    .main-p {
        height: 140px;
        left: 0%;
        right: 0%;
        top: calc(50% - 140px/2 + 79.5px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #444444;
    }

    section {
        width: 768x;
        height: 720px;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 11px;
    }

    .desktopgrid2 {
        display: none;
    }

    .mobilegrid2 {
        display: none;
    }

    .grid2 {
        display: block;
    }

    .desktopgrid3 {
        display: none;
    }

    .mobilegrid3 {
        display: none;
    }

    .grid3 {
        display: block;
    }

    .nab {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    .main-footer {
        width: 280px;
        height: 396px;
    }

    .text-container {
        width: 223px;
        height: 226px;
        justify-content: center;
        align-items: center;
    }

    h4 {
        height: 90px;
        left: 0%;
        right: 0%;
        top: calc(50% - 90px/2 - 68px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    footer {
        width: 768px;
        height: 216px;
    }

    .footer-container {
        width: 689px;
        height: 104px;
        display: flex;
        justify-content: space-between;
    }


    .footer-p-div {
        width: 289px;
        display: flex;
        align-items: center;
    }















































    /* location */

    .next-page {
        background-image: url('./tablet/image-map.png');
    }

    .section-one {
        margin-left: -430px;
    }

    .section-two {
        width: 768px;
        margin-top: 528px;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 80px;


    }

    .our-location {
        display: none;
    }

    .our-location-tablet {
        display: block;
        font-weight: 900;
        font-size: 55px;
        line-height: 50px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 88px;
        margin-left: 16px;
        margin-bottom: 48px;
    }

    .second-txtcontainer {
        height: 268px;
        margin-top: 88px;
    }

    .newly {
        width: 398px;
        height: 112px;

    }

    .section-three {
        width: 768px;
        height: 216px;
        padding: 56px 0;
    }

    .last-container {
        width: 100%;
        display: flex;
        justify-content: space-around;

    }

    .last-p {
        width: 281px;
        margin-top: unset;
    }

    .black-icons {
        margin: unset;
    }

}








































/* desktop version */


@media screen and (min-width:1439px) {

    .body-div {
        width: 1439px;
    }

    header {
        width: 1275px;
        align-self: flex-start;
    }

    .modern {
        row-gap: 64px;
    }

    .location{
        cursor: pointer;
    }

    .black {
        display: block;
        width: 990px;
        height: 800px;
        background-color: #151515;
        order: -1;
        background-image: url('./desktop/image-hero.jpg');
        background-repeat: no-repeat;
        background-position-x: 448px;

        margin-left: 12px;
    }

    .desktopmoderndiv {
        width: 514px;
        height: 174px;
        padding-left: 165px;
        padding-top: 189px;
    }

    .desktopmodern {
        left: 36.67%;
        right: -50.89%;
        top: calc(50% - 176px/2 - 122.5px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 88px;
        text-transform: uppercase;
        mix-blend-mode: difference;
        color: #FFFFFF;
    }

    .header-h1 {
        display: none;
    }

    .header-p {
        width: 350px;
        height: 160px;
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        height: 112px;
        left: 0%;
        right: 0%;
        top: calc(50% - 112px/2 + 29px);
    }

    .desktophero {
        display: block;
    }

    .tablethero {
        display: none;
    }

    main {
        width: 1110px;
    }

    .tabletgridimg {
        display: none;
    }

    .desktopgridimg {
        display: block;
    }

    .mainheader {
        width: 1110px;
        justify-content: space-between;
    }

    .mainheadertextcontainer {
        width: 350px;
        height: 280px;
    }

    .mainh3 {
        display: none;
    }

    .desktoph3 {
        height: 120px;
        left: 0%;
        right: 0%;
        top: calc(50% - 120px/2 - 80px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #151515;
        display: block;
    }

    .main-p {
        height: 128px;
        left: 0%;
        right: 0%;
        top: calc(50% - 128px/2 + 76px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #444444;
    }

    section {
        column-gap: 30px;
    }

    .nab {
        gap: 30px;
    }

    .grid2 {
        display: none;
    }

    .desktopgrid2 {
        display: block;
    }

    .grid3 {
        display: none;
    }

    .desktopgrid3 {
        display: block;
    }

    .main-footer {
        width: 445px;
        height: 377px;
    }

    .text-container {
        width: 350px;
        height: 248px;
    }

    h4 {
        height: 120px;
        left: 0%;
        right: 0%;
        top: calc(50% - 120px/2 - 64px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .container-p {
        height: 96px;
        left: 0%;
        right: 0%;
        top: calc(50% - 96px/2 + 76px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #FFFFFF;
    }

    footer {
        width: 1440px;
    }

    .footer-container {
        width: 1110px;
    }

    .footer-p-div {
        width: 430px;
        height: 84px;
    }

    .footer-p {
        height: 84px;
        left: 41.1%;
        right: 0%;
        top: calc(50% - 84px/2);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }


    /* location */


    .next-page {
        background-image: url('./desktop/image-map.png');
    }

    .section-one {

        align-self: flex-start;
        margin-left: 156px;
    }

    .section-two {
        width: 1440px;
        padding-bottom: 192px;
    }

    .our-location-tablet {
        margin-top: 104px;
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
    }

    .second-txtcontainer {
        margin-top: 104px;
    }

    .king99 {
        font-weight: 900;
        font-size: 36px;
        line-height: 36px;
    }

    .newport {
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
    }

    .newly {
        font-size: 22px;
        line-height: 32px;
        width: 540px;
        height: 128px;
    }

    .section-three {
        width: 1440px;
    }

    .last-p {
        width: 430px;
        height: 84px;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }
}